{
    // Allow use of browser and node globals
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "camelcase": false,
        "key-spacing": false,
        "new-cap": false,
        "no-multi-spaces": false,
        "no-underscore-dangle": false,
        "quotes": "single",
        "strict": 0
    }
}
