// Import all third party SCSS
@import '../../bower_components/compass-mixins/lib/compass/utilities';

// Our global CSS reset
@include global-reset;

// Our components
@import './components/login';

@import './shared/fonts';

@mixin body {
  font-family: $avenir-stack;

}

.body-light {
  @include body;

  background-color: $dream;
}

.body-dark {
  @include body;

  background-color: $nack;
}
