<!-- Header {{{ -->
<div class="login-header">
    <h1 class="login-elos-header"> elos </h1>
</div>
<!-- }}} -->

<!-- Content {{{ -->
<div class="login-content">
    <h1 class="login-title"> Sign In </h1>
    <section class="login-card">
        <p class="login-error"
           data-ng-bind="states.error.text"
           > </p>
        <br />
        <input type="text"
               id="public-credential"
               class="login-input"
               placeholder="Public credential"
               autocorrect="off"
               autocomplete="off"
               autocapitalize="off"
               spellcheck="false"
               data-ng-model="publicCredential"
               data-ng-keyup="handlers.keyUp($event, publicCredential, privateCredential)"
               />
        <br />
        <input type="text"
               id="private-credential"
               class="login-input"
               placeholder="Private credential"
               autocorrect="off"
               autocomplete="off"
               autocapitalize="off"
               spellcheck="false"
               data-ng-model="privateCredential"
               data-ng-keyup="handlers.keyUp($event, publicCredential, privateCredential)"
               />
        <p class="login-continue-button"
           data-ng-show="states.canSubmit"
           data-ng-click="handlers.submit(publicCredential, privateCredential)"
           >
            Continue
        </p>
    </section>
</div>
<!-- }}} -->
