@import '../shared/colors';
@import '../shared/fonts';
@import '../shared/mixins';
@import '../../../bower_components/compass-mixins/lib/compass/css3/appearance';

// --- Variables {{{
$login-header-height: 50px;
$login-form-width: 60%;
$login-form-margin-top: 16px;
// --- }}}

// --- Header {{{

// structural component
.login-header {
  background-color: $white-off;
  height: $login-header-height;
  line-height: $login-header-height;
}

// textual component
.login-elos-header {
  color: $black;
  font-family: $avenir-light-stack;
  font-size: 14px;
  height: inherit;
  letter-spacing: 1px;
  line-height: inherit;
  text-align: center;
  width: 100%;
}
// --- }}}

// --- Content {{{
.login-content {
  margin-top: 100px;
}
// --- }}}

// --- Titles {{{
.login-title {
  border-bottom: 2px solid $grey-light;
  color: $grey;
  font-size: 18px;
  padding-bottom: 8px;
  padding-left: 5px;
  text-align: left;
  width: 100%;
}
// --- }}}

// --- Card {{{
.login-card {
  @include box-shadow(rgba($black, .1) 0 2px 6px 0);

  background: $white;
  border: 1px solid $grey-light;
  margin-top: 20px;
  padding: 44px;
}

.login-card-content {
  margin-left: auto;
  margin-right: auto;
  width: $login-form-width;
}
// --- }}}

// --- Inputs {{{
.login-input {
  @include box-shadow(inset 0 1px 3px 0 rgba($black, .2));

  background: none;
  background-color: $white-grey;
  border: 1px solid $grey;
  border-radius: 8px;
  color: $black;
  font-size: 16px;
  margin-top: $login-form-margin-top;
  outline: 0;
  padding: 14px;
  width: calc(100% - 28px);

  @include input-placeholder {
    color: $grey;
    font-family: $avenir-stack;
  };
}
// --- }}}

// --- Buttons {{{
.login-start-button {
  @include box-shadow(rgba($black, .2) 0 -1px 3px 0 inset);

  background-color: $eleen;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin-left: auto;
  margin-right: 0;
  margin-top: $login-form-margin-top;
  padding: 5px;
  text-align: center;
  width: 105px;

  &.disabled {
    opacity: .5;
  }
}
// --- }}}

// --- Error {{{
.login-error {
  background-color: rgba($red, .1);
  border: 1px solid $red;
  border-radius: 7px;
  color: $red;
  font-size: 16px;
  margin: 20px auto;
  padding: 14px;
  text-align: center;
  width: calc(60% - 28px - 88px);
}
// --- }}}
