<section class="scheduling">
    <!-- Header {{{ -->
    <div class="header">
        <h1 class="elos"> ELOS </h1>
    </div>
    <!-- }}} -->

    <!-- Content {{{ -->
    <div class="card">
        <div class="content">
            <h1 class="title"> Scheduling </h1>
            <div class="options">
                 <div class="option {{ helpers.bubbleSize() }}"
                      data-ng-repeat="option in states.options"
                      >
                    <div class="bubble"
                         data-ng-click="option.click()"
                         >
                        <h2 class="option-title"> {{option.title}} </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content }}} -->
</section>
