// Custom Colors
$black: #000;

$eleen: #10ed95;               // elos green, known as 'eleen'

$grey: #979797;                // standard grey
$grey-lighter: #e1e1e1;
$grey-light: #ccc;             // lighter grey

$dream: #f6f4ee;               // daytime cream. know as dream

$nack:  #4c4c4c;               // nightime black, known as nack

$red: #ed1068;                 // error red

$white: #fff;                  // standard white
$white-grey: #f9f9f9;          // barely off white
$white-off: #fcfcfc;           // off white
