@import '../../bower_components/compass-mixins/lib/compass/css3';

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../../../assets/fonts/avenirnext/AvenirNext-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextUltraLight';
  src: url('../../../assets/fonts/avenirnext/AvenirNext-UltraLight.woff');
  font-weight: normal;
  font-style: normal;
}

$avenir-stack: AvenirNextRegular, Helvetica, sans-serif;
$avenir-light-stack: AvenirNextUltraLight, Helvetica, sans-serif;
