/* Custom Colors */
$eleen: #10ED95;               // elos green, known as 'eleen'

$dream: #F6F4EE;               // daytime cream. know as dream

$nack:  #4C4C4C;               // nightime black, known as nack
