<section class="data">
    <!-- Header {{{ -->
    <div class="header">
        <h1 class="elos"> ELOS </h1>
    </div>
    <!-- }}} -->

    <div id="viz"
         class="graph"
         data-graph
         title="options.title"
         data-data="options.data"
         data-x_accessor="options.x_accessor"
         data-y_accessor="options.y_accessor">
    </div>

    <div data-query-panel
         data-query="handlers.applyQuery(options)"
         data-error="handlers.queryError(error)"
         data-valid-tags="states.validTags"></div>
</section>
